body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(55, 57, 59);
    background-color: rgb(250, 253, 255);
}

h1, h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.container {
    width: 960px;
    margin: auto;
    margin-top: 20px;
}

.heading {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    color:  rgb(250, 253, 255);
    background-color:  rgb(55, 57, 59);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

table {
    width: 100%;
    padding-top: 40px;
    border-left: 3px solid rgb(55, 57, 59);
    border-right: 3px solid rgb(55, 57, 59);
    border-bottom: 3px solid rgba(55, 57, 59);
    padding-left: 20px;
    padding-right: 20px;
    
}

.head-style {
padding-right: 80px;
padding-bottom: 20px;
}

#tableID {}


.formInput {
    width: 99.4%;
    padding-top: 40px;
    padding-bottom: 40px;

    border-left: 3px solid rgb(55, 57, 59);
    border-right: 3px solid rgb(55, 57, 59);
}

#styleform {
    width: 170px;
    border-radius: 7px;
    margin: 5px;
    margin-left: 10px;
}

input {
    width: 170px;
    border-radius: 7px;
    margin: 5px;
    margin-left: 10px;
}

button {
    border-radius: 7px;
    margin: 10px;
}

footer {
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    color:  rgb(250, 253, 255);
    background-color:  rgb(55, 57, 59);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}